a {
	text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
p,h1,h2,h3,h4,h5,h6,a{
    font-family: 'Noto Serif JP';
}
img{
    vertical-align: bottom;
    width: 100%;
}
dt,dd{
    font-family: 'Noto Serif JP';
}
/*アニメーション指定 
今後も使うことになるので上に分かりやすく置いておく*/
@keyframes fadeIn { /*animation-nameで設定した値を書く*/
    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
}
/*Javaアニメーション指定*/
.fadein {
    opacity : 0;
    transform : translate(0, 100px);
    transition : all 1s;
} 
.fadein.active{
    opacity : 1;
    transform : translate(0, 0);
}
/*全体ボックス*/
.wrapper {
    background-color: #eff0f3;
    max-width: 2048px;
}
/*メニューバー*/
.header{
    background-color: #FFF;
    position: fixed;
    transition: 0.5s;
    top: 0;
    z-index: 10;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    width: 100%;
}
.hide{
    transform: translateY(-100%);
}
.header h1{
    text-align: center;
    font-size: 30px;
    padding: 25px 0 25px 0;
}
.drawer{
    position: relative;
}
/*ハンバーガーメニュー*/
.drawer-menu{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.drawer-menu::-webkit-scrollbar{
    display: none;
}
/*ハンバーガーメニューアイコン*/
.menu-btn{
    position: fixed;
    top: 12px;
    right: 20px;
    z-index: 2;
    width: 70px;
    height: 70px;
    background: rgb(255, 255, 255);
    color: #fff;
}
  
  /*----------------------------
  * メニュー本体
  *----------------------------*/
.menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #3c352eed;
}

/* ハンバーガーメニューの棒 */
.header__nav.active {
    transform: translateX(0);
  }
  
.menu-btn.active span:nth-of-type(1) {
    top: 23px;
    left: 7px;
    transform: translateY(6px) rotate(-45deg);
}

.menu-btn.active span:nth-of-type(2) {
    opacity: 0;/*真ん中の線は透過*/
}

.menu-btn.active span:nth-of-type(3){
    top: 35px;
    left: 7px;
    transform: translateY(-6px) rotate(45deg);
}
.drawer button span {
    background-color: rgb(64, 64, 64);
    display: block;
    transition: all 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 0.45em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.drawer button span:nth-of-type(1) {
    top: 13px;
}
.drawer button span:nth-of-type(3)  {
    top: 53px;
}

/* アニメーション前のメニューの状態 */
.menu{
    transform: translateX(100vw);
    transition: all .3s ease;
}
  /* アニメーション後のメニューの状態 */
.menu.is-active{
    transform: translateX(0);
}
/*メニュー終わり*/
/*メニュー内装飾*/
.kinokon-img{
    position: relative;
}
.kinokon{
    position: absolute;
}
.aokinokon{
    width: 50%;
    transform: rotate(-15deg);
    right: 7%;
}
.mikukinokon {
    width: 30%;
    transform: rotate(15deg);
    right: 55%;
    top: 180px;
}
.kinokon img{
    width: 100%;
}
.menu{
    padding: 30px 0 0 0;
}
.menu li{
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
}
.menu li::after {
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}
.menu li:hover::after {
    transform: scale(1, 1);
}

.menu li a{
    font-size: 45px;
    display: block;
    padding: 25px 0;
    line-height: 1;
    color: #FFF;
    text-align: center;
}
.menu li a:hover{
    color: #000;
    animation: fadeIn 0.5s ease normal;
}
.contct{
    display: flex;
    width: 100%;
    margin: 50px 0 0 0;
}
.contct li a{
    display: block;
}
.contct li a::before{
    content: '\f4f6';
    font-weight: 900;
    font-family: "Font Awesome 6 Brands", "Font Awesome 6 Free";
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.contct li:nth-of-type(2) a::before{
    content: '\f167';
    font-weight: 900;
    font-family: "Font Awesome 6 Brands", "Font Awesome 6 Free";
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.contct li a:hover::before{
    color: #000;
}
/*題名*/
.content h2{
    color: #FFF;
    font-size: 65px;
    padding: 15px 0 15px 100px;
    margin: 45px 0 45px 0;
    max-width: 1050px;
    animation: fadeIn 2s ease normal;
    line-height: 1;
    text-stroke: 1px #fbb03b;
    -webkit-text-stroke: 1px #fbb03b;
    background: linear-gradient(90deg, #fbb03b, 75%,#eff0f300);
    width: 75%;
}
/*プロフィール*/
.profile-link-text{
    padding: 0 0 50px 0;
    max-width: 1200px;
    margin: auto;
    animation: fadeIn 2s ease normal;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}
.profile-text h4{
    font-size: 34px;
    float: left;   
    font-weight: bold; 
}
.about-link{
    font-size: 20px;
    position: relative;
    float: right;
}
.about-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fbb03b;
    height: 3px;
    width: 100%;
    transform: scale(1, 1);
    transform-origin: right top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}
.about-link:hover::before{
    transform: scale(0, 1);
}
.about-link::after{
    background-color: #ff7732;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}
.about-link:hover::after{
    transform: scale(1,1);
    transition: all 0.5s;
}
.profile-text h5{
    clear: both;
    font-size: 24px;
    margin: 10px 0 0 0;
}
.profile-text{
    width: 985px;
}
.profile-img{
    width: 175px;
    margin: 0 40px 0 0;
}
.profile-img img{
    width: 100%;
    box-shadow: 0px 0px 3px 5px #ff9500;
    box-sizing: border-box;
}
.profile-text p{
    font-size: 18px;
}
.contct-sns{
    display: flex;
    width: 100%;
}
.contct-sns li a{
    display: block;
    margin: 0 30px 0 0;
}
.contct-sns li a::before{
    content: '\f4f6';
    font-weight: 900;
    font-family: "Font Awesome 6 Brands", "Font Awesome 6 Free";
    color: rgb(0, 0, 0);
    font-size: 35px;
}
.contct-sns li:nth-of-type(2) a::before{
    content: '\f167';
    font-weight: 900;
    font-family: "Font Awesome 6 Brands", "Font Awesome 6 Free";
    color: rgb(0, 0, 0);
    font-size: 35px;
}
.contct-sns li a:hover::before{
    color: rgb(0, 94, 255);
    transition: all .3s ease;
}
.contct-sns li:nth-of-type(2) a:hover::before{
    color: red;
}
.content{
    padding-top: 100px;
}
.white-back{
    background-color: #FFF;
    padding: 30px 0 0 0;
    margin: 0 0 50px 0;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.white-back h2{
    background-color: #fbb03b;
    color: #FFF;
    font-size: 36px;
    text-align: right;
    padding: 0px 240px 0px 0;
    width: 865px;
    margin: 0 0 50px auto;
    font-weight: 100;
}
/*イラスト載せる指定など*/
.white-back h3{
    background: linear-gradient(-90deg, #fbb03b, 70%, #eff0f300);
    margin: 0 25px 0 auto;
    max-width: 900px;
    text-align: right;
    padding: 0 50px 0 0;
    color: #FFF;
    font-size: 25px;
    width: 60%;
}
.works-link{
    font-size: 20px;
    display: block;
    padding: 20px 0 0 0;
    width: 283px;
    margin: 0 25px 0 auto;
    position: relative;
    z-index: 5;
}
.works-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fbb03b;
    height: 3px;
    width: 100%;
    transform: scale(1, 1);
    transform-origin: right top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: 0;
}
.works-link:hover::before{
    transform: scale(0, 1);
}
.works-link::after{
    background-color: #ff7732;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}
.works-link:hover::after{
    transform: scale(1,1);
    transition: all 0.5s;
}
/*イラスト指定*/
.illust .slick-slide:not(.slick-center) {
    -webkit-filter: opacity(20%);
    filter: opacity(20%);
    transition: 0.2s linear;
}
.slick-dots{
    position: initial;
}
.slick-active{
    opacity: 100%;
}
.slick-dots li.slick-active button:before{
    opacity: 100%;
    filter: saturate(150%);
}
.slick-dots li button::before{
    content: '';
    height:100%;
    width: 100%;
    background: url("../img/diamond-mark_yellow.png") no-repeat;
    background-size: contain;
    opacity: 30%;
    filter: saturate(150%);
}
.illust{
    max-width: 1000px;
    padding: 10px 40px 30px 40px;
    margin: auto;
    animation: fadeIn 2s ease normal;
    width: 100%;
}
.illust li {
    max-width: 600px;
    margin: 0 10px 0 10px;
}
.illust li:nth-last-of-type(-n+3){
    margin-bottom: 0;
}
.illust li img{
    width: 100%;
}
.slider_img li a{
    width: 100%;
    border: none;
}

/*思い*/
.impressions{
    position: relative;
}
.impressions h6{
    background: linear-gradient(90deg, #fbb03b, 70%, #FFF);
    padding: 0 0 0 20%;
    max-width: 875px;
    font-size: 30px;
    color: #FFF;
    font-weight: 100;
    position: absolute;
    top: 30px;
    z-index: 5;
    width: 70%;
}
.impressions-text{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.omoi{
    background-color: #FFF;
    padding: 35px 40px;
    margin: 0 0 50px 0;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.omoi:nth-child(1){
    padding: 110px 40px 35px 40px;
}
.omoi dt{
    font-size: 25px;
    line-height: 1.3;
}
.omoi dd{
    font-size: 18px;
    line-height: 1.58;
}
.omoi-img{
    width: 448px;
    margin-left: auto;
}
.omoi-img img {
    width: 100%;
}

/*ボタン指定*/
.button{
    text-align: right;
    margin: 0 auto 50px auto;
    max-width: 1200px;
    width: 90%;
}
.button a{
    text-align: center;
    display: inline-block;
    border: solid 3px #000000;
    background-color: #FFF;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
.button a::before{
	content: "↑";
	color: #000000;
	font-size: 25px;
	display: block;
	line-height: 1;
    padding: 6px 0 0 0;
}

.mente{
    display: none;
    bottom: -45px;
    background-color: #FFF;
    position: absolute;
    box-shadow: 0px 0px 15px -1px #777777;
    border-radius: 10px;
    width: 225px;
    padding: 10px;
    animation: fadeIn 1s ease normal;
}
.textmente1.appear{
    display: block;
    left: -35px;
}
.textmente2.appear{
    display: block;
    left: 40px;
}
.mente{
    font-size: 20px !important;
    border-bottom: none !important;
    text-align: center;
}
.oshirase{
    max-width: 1200px;
    margin: 50px auto 50px;
    width: 90%;
    height: 250px;
    overflow-y: scroll;
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}
.oshirase h6{
    font-size: 30px;
    background: linear-gradient(90deg, #fbb03b, 70%, #eff0f3);
    padding: 0 40px;
    position: sticky;
    top: 0;
    color: #FFF;
}
.infotext{
    padding: 0 30px;
    border-bottom: 2px solid #fbb03b;
}
.infotext dt{
    font-size: 20px;
}
.infotext dd{
    font-size: 20px;
    border-bottom: 2px dashed #fbb03b;
}
.infotext dd:nth-last-child(1){
    border: none;
}

 /*Google Chrome、Safariへの対応*/
.oshirase:-webkit-scrollbar{
  display: none;
}
/*フッダー*/
.footer{
    background-color: #666666;
}
.footer p{
    text-align: center;
    padding: 20px 0;
    color: #FFF;
    font-size: 15px;
}

/*こっからスマホ版の指定*/
@media screen and (max-width:780px){
    .wrapper{
        width: 100%;
        min-width: initial;
        max-width: initial;
    }
    .aokinokon{
        width: 70%;
    }
    .mikukinokon{ 
        width: 60%;
        right: 35%;
    }
    .menu-btn{
        width: 40px;
        height: 40px;
        right: 20px;
        top: 6px;
    }
    .drawer button span{
        height: 0.3em;
    }
    .drawer button span:nth-of-type(1){
        top: 8px;
    }
    .drawer button span:nth-of-type(3){
        top: 28px;
    }
    .menu-btn.active span:nth-of-type(1){
        top: 11px;
        left: 4px;
    }
    .menu-btn.active span:nth-of-type(3){
        top: 23px;
        left: 4px;
    }
    .menu li a{
        font-size: 30px;
    }
    .header h1{
        font-size: 20px;
        padding: 10px 0;
    }
    .content{
        width: 100%;
        padding-top: 50px;
    }
    .content h2{
        width: 75%;
        font-size: 50px;
        padding: 15px 0 15px 40px;
    }
    .gray-back-link-img{
        width: 100%;
    }
    .gray-back-link-img h3{
        width: 60%;
        margin-right: unset;
    }
    .illust{
        width: 100%;
    }
    .illust li{
        max-width: 280px;
        margin: 0 6px;
    }
    .profile-link-text{
        width: 80%;
        display: block;
    }
    .profile-img{
        margin: 0 auto 30px;
        width: 65%;
    }
    .profile-text h4{
        float: none;
    }
    .profile-text a{
        float: none;
    }
    .profile-text{
        width: 100%;
        margin: auto;
    }
    .impressions-text{
        width: 100%;
    }
    .impressions h6{
        width: 85%;
        padding: 0 0 0 30px;
    }
    .omoi dt,.omoi dd{
        width: 100%;
    }
    .button{
        width: 80%;
    }
    .button a{
        width: 50px;
        height: 50px;
    }
    .button a::before{
        padding: 8px 0 0 0;
        font-size: 30px;
    }

    .textmente1.appear{
        left: 0%;
        max-width: 225px;
        min-width: 140px;
        width: 30%;
    }
    .textmente2.appear{
        left: 20%;
        max-width: 225px;
        min-width: 140px;
        width: 30%;
    }
    .mente{
        bottom: 22;
    }
}